{% extends "base.html" %}
{% block content %}
    <div class="small-12 columns">
        {% include 'telentapp/user_card_small.html' with object=image.user td=timedelta views=image.views location=object.location extra_style="padding: 10px 0" full_image=image.image.url %}
    </div>
    <div class="small-12 columns">
        <div style="position:relative;">
            <img src="{{ image.image.url }}">
            <div style="position:absolute; top: 0; left: 0; right: 0; bottom: 0;"></div>
        </div>
    </div>
    <div class="small-12 columns" style="margin-top: 1%;">
        <div class="row">
            <div class="small-12 columns">{{ image.description|default:"<i>Missing description</i>" }}</div>
        </div>
        <div><a href="{% url 'report' slug=image.slug %}">Report</a></div>
    </div>

{% endblock %}