{% extends "base.html" %}
{% block extra_head %}
    {{ form.media }}
{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <div id="imagebox"></div>

        <input type="submit" value="Upload image" class="button">
    </form>
    <script>
        $("input[type=file]").change(function (e) {
            for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {

                var file = e.originalEvent.srcElement.files[i];

                var img = document.createElement("img");
                var reader = new FileReader();
                reader.onloadend = function () {
                    img.src = reader.result;
                }
                reader.readAsDataURL(file);
                $("#imagebox").html(img);
            }
        });
    </script>
{% endblock %}